<h1 class="result">
    This is result....
    <strong><%= @random_number %></strong>
</h1>



<div class="text-center start-btn">
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
</div>
